node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log


*.conf
*.crt
*.csr
*.db-journal
*.key
*.pid
*.xml
*.db
*.db-shm
*.db-wal
.uuid
__pycache__/
known_devices.yaml
lib
OZW_Log.txt
pyozw.sqlite
secrets.yaml
.spotify-token-cache
zones/
.cloud/
.homekit.state
.config_entries.json
.storage/
home-assistant.log.*
